# Managed by Ansible. Local changes will be lost!
# /etc/sysconfig/docker
#
# Other arguments to pass to the docker daemon process
# These will be parsed by the sysv initscript and appended
# to the arguments list passed to docker -d

#other_args="{{ docker_other_args }}"
OPTIONS="{{ docker_other_args }}"
